<div class="container my-2 ">
  <app-search></app-search>
  <app-tags></app-tags>
 <div class="row p-3 d-flex justify-content-center">

    <div *ngFor="let food of foods" class="col-4 p-3 " >

      <div class="cards mx-2" >
        <div class="bg card custom-card row " routerLink="/food/{{food.id}}" >
          <div class="bg-image my-1 ">
            <!-- <a routerLink="/food/{{food.id}}"> -->
            <img src="{{food.imageUrl}}" class=" card-cover w-100 rounded-5 my-2 " />
            <!-- </a> -->

          </div>
          <div class="contents text-dark ">
            {{food.name}}
            <div class="fav ">
            <span class="favorite {{food.favorite?'':'not'}}">♥</span>
          </div>
          <div class="star rounded-5 align-middle">
            <star-rating
              [value]="food.star"
              [totalstars]="5"
              checkedcolor="red"
              uncheckedcolor="black"
              size="24px"
              [readonly]="true">
            </star-rating>
          </div>
          <div class="product-item-footer">
            <div class="orign">
              <span *ngFor="let orign of food.origns">
                {{orign}}
              </span>
            </div>
            <div class="cook-time">
              <span>⌛ </span>
              {{food.cookTime}}
            </div>
            <div class="price">{{food.price |currency}}</div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
